{% if menu %}
	{% for item in items %}
		<li role="none" class="{{ item.classes | join(' ') }}">
			<a 
        role="menuitem" 
        target="{{ item.target }}" 
        href="{{ item.link }}"
        {% if item.current %}aria-current="page"{% endif %}
      >
        {{ item.title }}
      </a>
			{% include "menu.twig" with {'items': item.children} %}
		</li>
	{% endfor %}
{% endif %}