{% for preview in Post(item.content_item) %}
  <div>

    {% set imageObj = Image(preview.thumbnail) %}
    {% set imgSrc = imageObj.src() %}
    {% set imgAlt = imageObj.alt ?: 'featured image' %}
    {% set image = '<img src="' ~ imgSrc ~ '" alt="' ~ imgAlt ~ '">' %}

    <a href="{{ preview.link }}">{{ image }}</a>

    <h3>{{ preview.title }}</h3>

    <a href="{{ preview.link }}">Read more</a>

  </div>
{% endfor %}
